name: test
on:
  - push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo test
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo fmt -- --check
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - run: cargo clippy -- -D warnings
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,rs}"
  unused_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/cargo-cache@v1
      - uses: bnjbvr/cargo-machete@main
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/markdown-link-check@v1
